{% extends "blogapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="color: #4e0b63;">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit" style="color: #4e0b63; border-color: #4e0b63;">Log
                In</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Do you need an account? Sign Up here! <a class="ml-2" href="{% url 'register' %}"
                style="color: #4e0b63; border-color: #4e0b63;">Sign Up Now</a>
        </small>
    </div>
</div>
{% endblock content %}